body {  
    background-image: url(https://assets.change.org/photos/1/te/pm/CJTepmtOAFHnwwc-1600x900-noPad.jpg?1486500295);
    background-size: auto;
}

h1 {
    color: brown;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

p {
    background-image:http://edc.h-cdn.co/assets/16/27/1600x800/1468014510-landscape-1467993669-index-ugliest-home-colors.jpg;
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}

#myDIV {
    background-color: hotpink;
    line-height: 16px;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {line-height: 50px;}
}
#crazy {
    width: 400px;
  height: 400px;
  background-color: coral;
  color: white;
  animation: mylater 5s infinite;
}

@keyframes mylater {
  50% {box-shadow: 10px 20px 30px blue;}
}
.changing-color {
        width: 300px;
        height: 200px;
        background: red;
        animation: colorchange 5s infinite;
      }
      
      @keyframes colorchange {
        50% {background-color: blue;}
      }